*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-color: hsl(7, 89%, 86%);
    --background-color: hsl(6, 89%, 93%);
    --dark-base-color: hsl(7, 89%, 76%);
    --heart-color: hsl(7.2,88.6%,65.9%);
    --shadow-color: rgba(164, 80, 71, 0.733);
}

body{
    background: var(--background-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sphere3D{
    position: relative;
}

.sphere{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: linear-gradient(var(--base-color), 50%, var(--dark-base-color));
    position: relative;
    box-shadow: inset 0px 0px 25px 1px rgba(152, 43, 29, 0.4);
}

.cat{
    position: relative;
    top: 35%;
    left: 25%;
}

.block{
    position: absolute;
    background: var(--heart-color);
}

.block--first{
    width: 200px;
    height: 140px;
    border-radius: 50%;
}

.block--second{
    position: absolute;
    width: 75px;
    height: 75px;
    rotate: 15deg;
    left: 2%;
    transform: translateY(-10%);
}

.block--third{
    position: absolute;
    width: 75px;
    height: 75px;
    rotate: -15deg;
    left: 29.3%;
    transform: translateY(-10%);
}



.block--fourth{
    position: absolute;
    width: 25px;
    height: 15px;
    left: 22.5%;
    transform: translateY(450%);
    background: var(--base-color);
    clip-path: polygon(0% 0%, 0% 50% , 40% 100%, 60% 100%, 100% 50%, 100% 0);
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.circle--one{
    position: absolute;
    width: 35px;
    height: 21px;
    background: linear-gradient(var(--base-color), 80%, var(--dark-base-color));
    border-radius: 50%;
    left: 9%;
    transform: translateY(200%);
}

.circle--two{
    position: absolute;
    width: 35px;
    height: 21px;
    background: linear-gradient(var(--base-color), 80%, var(--dark-base-color));
    border-radius: 50%;
    left: 33%;
    transform: translateY(200%);
}

.shadow{
    width: 420px;
    height: 100px;
    background: var(--shadow-color);
    border-radius: 50%;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(25px);
}