*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #32be82;
    --background-circle: #000000;
}

body{
    background-color:var(--background-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textbubble{
    position: relative;
    animation-name: fadein;
    animation-duration: 0.8s;
}

input{
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
}

input:checked ~ .bubble > .one{
    background: #448545;
    transition: 1s;
}
input:checked ~ .bubble > .two{
    background: #e95bb7;
    transition: 1s;
}
input:checked ~ .bubble > .three{
    background: #8066b8;
    transition: 1s;
}

label{
    width: 300px;
    height: 300px;
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background: transparent;
    z-index: 1;
}

label:hover{
    cursor: pointer;
}

.textbubble:hover .circle{
    animation-name: typing;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.bubble{
    width: 270px;
    height: 200px;
    background: white;
    border-radius: 50%;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.triangle, .trianglebackground{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.triangle{
    width: 40px;
    height: 40px;
    background: white;
    top: 97%;
}

.trianglebackground{
    width: 50px;
    height: 50px;
    background: #000000;
    top: 98%;
}

.circle{
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 1s;
}

.one{
    animation-delay: 0s;
}

.two{
    animation-delay: .5s;
}

.three{
    animation-delay: 1s;
}


@keyframes fadein {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes typing {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
